{% extends "base_site.html" %}

{% block title %} Create New Factory {% endblock title %}

{% block stylesheets %}
{{ super() }}
    <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>



{% block content %}
<div class="right_col" role="main">

<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>New Factory   </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="newFactory" data-parsley-validate class="form-horizontal form-label-left" action="/admin/NewFactory" enctype="multipart/form-data" method="post">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="factory_name">Factory Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="factory_name" name="factory_name" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="logistic_name">Logistic Name / User Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="logistic_name" name="logistic_name" required="required" class="form-control col-md-7 col-xs-12">
                  </div>

                </div>
                <div class="form-group">
                  <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">address <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="address" required="required" class="form-control col-md-7 col-xs-12" type="text" name="address">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="email" name="email" class="date-picker form-control col-md-7 col-xs-12" required="required" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="factory_hotline" class="control-label col-md-3 col-sm-3 col-xs-12">Factory Hotline <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="factory_hotline" required="required" class="form-control col-md-7 col-xs-12" type="tel" name="factory_hotline">
                  </div>
                </div>
                <div class="form-group">
                  <label for="delegate_phone" class="control-label col-md-3 col-sm-3 col-xs-12">Logistic Phone <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="delegate_phone" required="required" class="form-control col-md-7 col-xs-12" type="tel" name="delegate_phone">
                  </div>
                </div>
                <div class="form-group">
                  <label for="factory_logo" class="control-label col-md-3 col-sm-3 col-xs-12">Factory Logo<span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="factory_logo" required="required" class="form-control col-md-7 col-xs-12" type="file" accept="image/jpeg, image/png" name="factory_logo">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a class="btn btn-primary" href="/AdminDashboard/factory" type="button">Cancel</a>
  		  <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script>
if ("{{error}}"){
    alert("{{error}}")
}
</script>
{% endblock javascripts %}



