<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>Trucks!</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />


  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <!-- Admin sidebar menu -->
    {% if current_user.isAdmin%}
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a href="/AdminDashboard"><i class="fa fa-home"></i> Home </a>
          </li>
          <li><a href="/AdminDashboard/factory"><i class="fa fa-cogs"></i> Factory <span class="fa "></span></a>
          <!--<li><a href="#"><i class="fa fa-cogs"></i> Factory <span class="fa "></span></a>-->
          </li>
          <li><a href="/AdminDashboard/company"><i class="fa fa-automobile"></i> Company <span class="fa "></span></a>
          <!--<li><a href="#"><i class="fa fa-automobile"></i> Company <span class="fa "></span></a>-->
          </li>
          <li><a href="/AdminDashboard/driver"><i class="fa fa-truck"></i> Driver <span class="fa "></span></a>
          <!--<li><a href="#"><i class="fa fa-truck"></i> Driver <span class="fa "></span></a>-->
          </li>
          <li><a href="/AdminDashboard/orders"><i class="fa fa-shopping-cart"></i> Orders <span class="fa "></span></a>
          <!--<li><a href="#"><i class="fa fa-shopping-cart"></i> Orders <span class="fa "></span></a>-->
          </li>
        </ul>
      </div>
    {% endif%}

    <!-- Company sidebar menu -->
    {% if current_user.isCompany%}
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a href="/CompanyDashboard/home"><i class="fa fa-home"></i> Home </a>
          </li>
          <li><a href="/CompanyDashboard/cars"><i class="fa fa-automobile"></i> Cars <span class="fa "></span></a>
          </li>
          <li><a href="/CompanyDashboard/drivers"><i class="fa fa-truck"></i> Drivers <span class="fa "></span></a>
          </li>
          <li><a href="/CompanyDashboard/OrdersList"><i class="fa fa-shopping-cart"></i> Orders <span class="fa "></span></a>
          </li>
        </ul>
      </div>
    {% endif%}

    {% if current_user.isFactory%}
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a href="/FactoryDashboard/home"><i class="fa fa-home"></i> Home </a>
          </li>
          <li><a href="/FactoryDashboard/OrdersList"><i class="fa fa-automobile"></i> Orders <span class="fa "></span></a>
          </li>
          <li><a href="/FactoryDashboard/NewOrder"><i class="fa fa-truck"></i> Make Order <span class="fa "></span></a>
          </li>
          </li>
        </ul>
      </div>
    {% endif%}
  </div>


  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/AdminDashboard/logout">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
