{% extends "base_site.html" %}

{% block title %} Create New Order {% endblock title %}

{% block stylesheets %}
{{ super() }}

  <script src="https://kit.fontawesome.com/360fc66779.js" crossorigin="anonymous"></script>
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>



{% block content %}
<style>

  #pac-input-from {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

  #pac-input-from:focus {
    border-color: #4d90fe;
  }

  #pac-input-to {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

  #pac-input-to:focus {
    border-color: #4d90fe;
  }

</style>
<div class="right_col" role="main">

<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>New Order   </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="newOrder" data-parsley-validate class="form-horizontal form-label-left" action="/admin/NewOrder" method="post">
                {% if current_user.isAdmin %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="factory_id">Factory ID <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="factory_id" name="factory_id" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                {% endif %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="trilla">عدد التريلات <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="trilla" name="trilla" class="date-picker form-control col-md-7 col-xs-12" required="required" min="0" type="number">
                  </div>
                </div>
                <div class="form-group">
                  <label for="maktura" class="control-label col-md-3 col-sm-3 col-xs-12">عدد المقطورات <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="maktura" required="required" class="form-control col-md-7 col-xs-12" type="number" min="0" name="maktura">
                  </div>
                </div>
                <div  style="display: none"  class="form-group">
                  <label for="from_lat" class="control-label col-md-3 col-sm-3 col-xs-12">from Lat<span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="from_lat" required="required" class="form-control col-md-7 col-xs-12"  name="from_lat" >
                  </div>
                </div>
                <div style="display: none"  class="form-group">
                  <label for="from_lng" class="control-label col-md-3 col-sm-3 col-xs-12">from lng <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="from_lng" required="required" class="form-control col-md-7 col-xs-12"  name="from_lng">
                  </div>
                </div>
                <div  style="display: none" class="form-group">
                  <label  for="to_lat" class="control-label col-md-3 col-sm-3 col-xs-12">to Lat<span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="to_lat" required="required" class="form-control col-md-7 col-xs-12"  name="to_lat" >
                  </div>
                </div>
                <div style="display: none" class="form-group">
                  <label for="to_lng" class="control-label col-md-3 col-sm-3 col-xs-12">to lng <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="to_lng" required="required" class="form-control col-md-7 col-xs-12"  name="to_lng">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pickup_location">Pickup Location <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input readonly="readonly" type="text" id="pickup_location" name="pickup_location" required="required" class="form-control col-md-7 col-xs-12">
                  </div>

                </div>
                <div class="form-group">
                  <label for="dropoff_location" class="control-label col-md-3 col-sm-3 col-xs-12">Drop off Location <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input readonly="readonly" id="dropoff_location" required="required" class="form-control col-md-7 col-xs-12" type="text" name="dropoff_location">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    {% if current_user.isAdmin %}
                    <a class="btn btn-primary" href="/AdminDashboard/factory" type="button">Cancel</a>
                    {% endif %}
  		            <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
        </div>



<div class="text-center" style="display: flex; justify-content: space-between">
  <div style="width: 48%">
      <h2>From</h2>
      <div id="map-from" style="width:100%;height:480px"></div>
  </div>
  <div style="width: 48%">
      <h2>To</h2>
      <div id="map-to" style="width:100%;height:480px"></div>
  </div>
</div>
<input style="margin-top: 20px" id="pac-input-from" class="controls" type="text" placeholder="Search Box">
<input style="margin-top: 20px" id="pac-input-to" class="controls" type="text" placeholder="Search Box">
<button title="تحديد موقعي" onclick="my_location_from()" id = "my_location_from" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;border-radius: 2px;margin: 11px;padding: 0;background-color: #ffffff;width: 40px;height: 40px" class="btn text-center"><i style="color:#0f0f0f;font-size: 25px" class="fas fa-search-location"></i></button>
<button title="تحديد موقعي" onclick="my_location_to()" id = "my_location_to" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;border-radius: 2px;margin: 11px;padding: 0;background-color: #ffffff;width: 40px;height: 40px" class="btn text-center"><i style="color:#0f0f0f;font-size: 25px" class="fas fa-search-location"></i></button>

</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp1G6tb0v3JzSfcPtmKGwLI018Q-DL41E&callback=initMap&language=ar&region=EG&libraries=places"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp1G6tb0v3JzSfcPtmKGwLI018Q-DL41E&callback=initMap2&language=ar&region=EG&libraries=places"></script>

<script>
if ("{{error}}"){
    alert("{{error}}")
}


var map; //Will contain map object.
var map2; //Will contain map object.
var marker = false; ////Has the user plotted their location marker?var map; //Will contain map object.
var marker2 = false; ////Has the user plotted their location marker?

//Function called to initialize / create the map.
//This is called when the page has loaded.
function initMap() {

    //The center location of our map.
    var centerOfMap = new google.maps.LatLng(30.787065,  30.999184);

    //Map options.
    var options = {
      center: centerOfMap, //Set center.
      zoom: 7 //The zoom value.
    };

    //Create the map object.
    map = new google.maps.Map(document.getElementById('map-from'), options);



    var input = document.getElementById('pac-input-from');
    var searchBox = new google.maps.places.SearchBox(input);
    var my_location = document.getElementById("my_location_from");
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(my_location);
    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old markers.
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        // Create a marker for each place.
        markers.push(new google.maps.Marker({
          map: map,
          icon: icon,
          title: place.name,
          position: place.geometry.location
        }));

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });

    //Listen for any clicks on the map.
    google.maps.event.addListener(map, 'click', function(event) {
        markers.forEach(function(marker) {
        marker.setMap(null);
      });
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
    });
}
function initMap2() {

    //The center location of our map.
    var centerOfMap = new google.maps.LatLng(30.787065,  30.999184);

    //Map options.
    var options = {
      center: centerOfMap, //Set center.
      zoom: 7 //The zoom value.
    };

    //Create the map object.
    map2 = new google.maps.Map(document.getElementById('map-to'), options);
    var input2 = document.getElementById('pac-input-to');
    var my_location2 = document.getElementById("my_location_to");
    var searchBox2 = new google.maps.places.SearchBox(input2);
    map2.controls[google.maps.ControlPosition.TOP_LEFT].push(input2);
    map2.controls[google.maps.ControlPosition.RIGHT_CENTER].push(my_location2);

    // Bias the SearchBox results towards current map's viewport.
    map2.addListener('bounds_changed', function() {
      searchBox.setBounds(map2.getBounds());
    });

    var markers2 = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox2.addListener('places_changed', function() {
      var places = searchBox2.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old markers.
      markers2.forEach(function(marker) {
        marker.setMap(null);
      });
      markers2 = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        // Create a marker for each place.
        markers2.push(new google.maps.Marker({
          map: map2,
          icon: icon,
          title: place.name,
          position: place.geometry.location
        }));

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map2.fitBounds(bounds);
    });
    //Listen for any clicks on the map.
    google.maps.event.addListener(map2, 'click', function(event) {
        markers2.forEach(function(marker) {
        marker.setMap(null);
      });
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if(marker2 === false){
            //Create the marker.
            marker2 = new google.maps.Marker({
                position: clickedLocation,
                map: map2,
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker2, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker2.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation2();
    });
}

//This function will get the marker's current location and then add the lat/long
//values to our textfields so that we can save the location.
function markerLocation(){

    //Get location.
    var currentLocation = marker.getPosition();
    // make selected pos is center of map
    map.setCenter(currentLocation);
    //Add lat and lng values to a field that we can save.
    document.getElementById('from_lat').value = currentLocation.lat(); //latitude
    document.getElementById('from_lng').value = currentLocation.lng(); //longitude
    fetch('https://maps.googleapis.com/maps/api/geocode/json?latlng='+document.getElementById('from_lat').value +','+document.getElementById('from_lng').value+'&key=AIzaSyBp1G6tb0v3JzSfcPtmKGwLI018Q-DL41E&language=ar')
       .then(response => response.json())
       .then(res => {
               document.getElementById('pickup_location').value = res.results[0].formatted_address;
                   })
       .catch(error => {
           alert('Detect your location Failed');})
}
function markerLocation2(){
    //Get location.
    var currentLocation = marker2.getPosition();
    // make selected pos is center of map
    map2.setCenter(currentLocation);
    //Add lat and lng values to a field that we can save.
    document.getElementById('to_lat').value = currentLocation.lat(); //latitude
    document.getElementById('to_lng').value = currentLocation.lng(); //longitude
    fetch('https://maps.googleapis.com/maps/api/geocode/json?latlng='+document.getElementById('to_lat').value +','+document.getElementById('to_lng').value+'&key=AIzaSyBp1G6tb0v3JzSfcPtmKGwLI018Q-DL41E&language=ar')
       .then(response => response.json())
       .then(res => {
               document.getElementById('dropoff_location').value = res.results[0].formatted_address;
                   })
       .catch(error => {
           alert('GeoCoding Failed');})
}

//---------------  User Location  part start here -------------------
function my_location_from() {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
                position: pos,
                map: map,
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(pos);
        }
        //Get the marker's location.
        markerLocation();
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
}

function my_location_to() {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        if(marker2 === false){
            //Create the marker.
            marker2 = new google.maps.Marker({
                position: pos,
                map: map2,
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker2, 'dragend', function(event){
                markerLocation2();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker2.setPosition(pos);
        }
        //Get the marker's location.
        markerLocation2();
      }, function() {
        handleLocationError(true, infoWindow, map2.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map2.getCenter());
    }
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
}
// -------------------- User Location part End Here -------------
//Load the map when the page has finished loading.
google.maps.event.addDomListener(window, 'load', initMap);
google.maps.event.addDomListener(window, 'load', initMap2)



</script>



{% endblock javascripts %}



