{% extends "base_site.html" %}

{% block title %} Edit Driver {% endblock title %}

{% block stylesheets %}
{{ super() }}
    <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>



{% block content %}
<div class="right_col" role="main">

<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Edit Driver   </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="editDriver" data-parsley-validate class="form-horizontal form-label-left" action="/admin/EditDriver{{data['driver_id']}}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="driver_name">Driver Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="driver_name" value="{{data['name']}}" name="driver_name" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone" class="control-label col-md-3 col-sm-3 col-xs-12">Driver Phone <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="phone" required="required" value="{{data['phone']}}" maxlength="11" class="form-control col-md-7 col-xs-12" type="tel" name="phone">
                  </div>
                </div>

                <div class="form-group">
                  <label for="license_number" class="control-label col-md-3 col-sm-3 col-xs-12">License Number <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="license_number" required="required" value="{{data['license_number']}}" class="form-control col-md-7 col-xs-12" type="tel" name="license_number">
                  </div>
                </div>

                <div class="form-group">
                  <label for="license_type" class="control-label col-md-3 col-sm-3 col-xs-12">License Type <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="license_type" required="required" value="{{data['license_type']}}" class="form-control col-md-7 col-xs-12" type="tel" name="license_type">
                  </div>
                </div>

                <div class="form-group">
                  <label for="license_image" class="control-label col-md-3 col-sm-3 col-xs-12">License Image</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="license_image"  class="form-control col-md-7 col-xs-12" type="file" accept="image/jpeg, image/png" name="license_image">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    {% if current_user.isAdmin %}
                    <a class="btn btn-primary" href="/AdminDashboard/driver " type="button">Cancel</a>
                    {% else %}
                    <a class="btn btn-primary" href="/CompanyDashboard/drivers" type="button">Cancel</a>
                    {% endif %}
  		            <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script>
if ("{{error}}"){
    alert("{{error}}")
}
</script>
{% endblock javascripts %}



